{% extends "annotation/base.html" %}
{% load static %}
{% block content %}

  <div class="w3-container" style="padding:128px 16px">
    <h1 style='margin-bottom:20px;'>Annotation process</h1>
    <input class="form-control" style="margin-bottom:20px;height:50px ; width = 250px" type="text" placeholder="Paste Fasta here ...">
    <form class="md-form">
      <div class="file-field">
        <div class="btn btn-primary btn-sm float-left">
          <span>Choose file</span>
          <input type="file">
        </div>
      </div>
    </form>
  </div>

{% endblock %}