{% extends "annotation/base.html" %}
{% load static %}
{% block content %}

  <div class="container" style="padding:128px 16px" action="/results/" method="post">
    <h1 style='margin-bottom:20px;'>Annotation process</h1>
    <form class="md-form" method="post" style="margin-bottom:20px;">
      {% csrf_token %}
      {{ text_form }}
      <input type="submit" value="OK" href="{% url 'annot-visu' %}">
    </form>
    <form class="md-form" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ file_form }}
      <input type="submit" value="Upload" href="{% url 'annot-visu' %}">
    </form>
  </div>

{% endblock %}