{% extends "annotation/base.html" %}
{% load static %}
{% block content %}


    <h1>Visualisation des résultats</h1>

    <h3>Example 1, data loaded from JSON file on server</h3>

    <!-- Optional enclosing div, it must have this class on it.
		If this div exists, then the search for
		"mason-viewer-svg-not-supported" or "mason-viewer-generic-json-failed-to-create"
		will only take place within this enclosing div.  -->
    <div class="mason-enclosing-div">


        <!-- mason_data_json_file_uri is required. -->
        <!-- The file must include the path  -->

        <!-- The Mason viewer will be the width (at the time it is created) of the div it is created in. -->
        <div class="generic-json-mason-viewer mason-viewer-jq" style="width:90%;" mason_data_json_file_uri="../../../media/annotation/visualization.json"></div>


        <!-- This div will only be shown if creating the mason viewer failed, it must have this class on it -->
        <div class="mason-viewer-generic-json-failed-to-create" style="display: none; text-align: center; color: darkred;">

            <div>&nbsp;</div>
            <h3>Failed to create Mason Viewer</h3>
            <div>&nbsp;</div>

        </div>

        <!-- This div will only be shown if SVG is not supported, it must have this class on it -->
        <div class="mason-viewer-svg-not-supported" style="display: none; text-align: center; color: darkred;">

            <div>&nbsp;</div>
            <h3>Unable to show Mason Viewer due to lack of SVG support in this browser</h3>
            <div>&nbsp;</div>
            <div>Please use a different browser to view the Mason Viewer.<br />
                Possible choices are Firefox, Google Chrome, Internet Explorer version 9 or higher.</div>
        </div>

    </div>



{% endblock %}
